input.cell {
  text-align: center;
  vertical-align: middle;
  border: 1px solid LightGray;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

input.filled {
  background-color: LightGreen;
}

input.solved {
  color: blue;
}

input.hinted {
  background-color: pink;
}

table {
  margin: auto;
  text-align: center;
}
